.categoryRow {
    display: flex;
    overflow-x: auto;
    padding: 1rem;
    gap: 1.5rem;
    background: var(--white);
    margin-bottom: 1rem;
    scrollbar-width: none;
    /* Hide scrollbar Firefox */
}

.categoryRow::-webkit-scrollbar {
    display: none;
    /* Hide scrollbar Chrome/Safari */
}

.categoryItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 60px;
    gap: 0.5rem;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}

.iconCircle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--gray-100);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary-color);
}

.label {
    font-size: 0.75rem;
    text-align: center;
    color: var(--text-color);
}

@media (min-width: 768px) {
    .categoryRow {
        display: none;
    }
}